/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_reset.scss";

$dark-grey: #313131;
$salmon:#ebe3e1;
$bright-pink:#f15f69;
$spacing:30px;
$serif-font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
$sans-font:Helvetica,Arial,sans-serif;

html{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-font-smoothing:antialiased;
}

body{
  color: $dark-grey;
  background-color: $salmon;
}

header{
  position: absolute;
  width: 100%;
  padding: $spacing;
  img {
    width:25%;
  }
  h1, h2{
    position: relative;
    color: $bright-pink;  
  }

  h1{
    font-size:2rem;
    top:10px;
    font-weight: 900;

  }
  h2{
    font-size:1.5rem;
    font-family: $sans-font;
    top:12px;
  }
}

.landing-section{
  height: 100vh;
}

.landing-bg-image{
  background-image: url(../images/tck_cover-photo.jpg);
  background-size: cover;
  background-position: 50% 70%;
  height: 100vh;
  width:100vw;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
}


#mc_embed_signup{
  position: absolute;
  top: 75%;
  background:transparent;
  clear:left; 
  font:1rem Helvetica,Arial,sans-serif; 
  width:100%;
  text-align: center;
  h4{
    text-align: center;
    font-size:1rem;
    font-family:$serif-font;
    margin:0 auto;
    margin-bottom: $spacing /2;
    color: white;
    background-color: $dark-grey;
    display: inline-block;
    padding: 5px 10px;
  }
  input.button{
    background-color: $bright-pink;
  }

}

  div.social-icons{
    margin: 0 auto;
    display: inline-block;
    div{
    width:50px;
    height:50px;
    display: inline-block;
    background-image: url(../images/fb-logo-pink.png);
    background-size: 100%;
    }
    p {
      color:$bright-pink;
      font-family: $sans-font;
      font-size: 1rem;
    }
    a:hover{
      div{
        background-image: url(../images/fb-logo-white.png);
        background-size: 100%;
      }
      p{
        color:white;
      }
    }
  }

.videos-section h2{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:10rem;
  }

.videos-section .video-wrapper{
  width:60%;
  margin:0 auto;
  margin-top:150px;
  position: relative;
}

.poem-section{
  margin-top: 150px;
  p{
    text-align: center;
    line-height: 2rem;
  }
  p.author{
    margin-top: 2 * $spacing;
    color: $bright-pink;
  }

}

footer{
  background-color: #313131;
  margin-top: 150px;
  padding: $spacing;
  text-align: center;
  img{
    width:40px;
    margin:0 10px;
    display: inline-block;
  }
  p {
    color: white;
    text-align: center;
    margin-bottom: $spacing/2;
  }


}

@media screen and (max-width:950px){
  .landing-bg-image{
  background-image: url(../images/Music-page-retouched.jpg);
  background-size: cover;
  background-position: 50% 80%;
  } 
} 

@media screen and (max-width:950px){
  header{
    text-align: center;
    img{
      margin: 0 auto;
      width:40%;
    }
  }

  .landing-bg-image{
  background-image: url(../images/Music-page-retouched.jpg);
  background-size: cover;
  background-position: 50% 80%;
  } 

  .videos-section .video-wrapper{
    width: 80%;
  }
}

@media screen and (max-width:769px){
  #mc_embed_signup{
    width:80%;
    left: 50%;
    margin-left: -40%;
  }

    .videos-section .video-wrapper{
    width: 100%;
  }
}


